.about-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    min-height: 330px;
    margin-top: 100px;
    overflow-x: hidden;
    // backdrop-filter: blur(20px);
    // backdrop-filter: blur(2px);
    @media (max-width: $tablet) {
        margin-top: 120px;
        min-height: 280px;
    }
    @media (max-width: $mobile) {
        margin-top: 140px;
    }
}